<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Конференція- "В мене є ZTE!"</title>
    <link rel="shortcut icon" type="image/ico" href="images/favicon.ico"/>

    <!--build:css css/vendor.min.css-->
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-select/dist/css/bootstrap-select.min.css">
    <!--<link rel="stylesheet" href="../node_modules/angular-material/angular-material.min.css">-->
    <!--endbuild-->

    <!--build:css css/styles.min.css-->
    <link rel="stylesheet" href="styles/pe-media-icons.css">
    <link rel="stylesheet" href="styles/registation.css">
    <link rel="stylesheet" href="styles/main.css">
    <!--endbuild-->

</head>
<body ng-app="regapp">
<!-- ZTE Axon 7  -->
<div id="branding"></div>
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" src="images/zte-logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav">
                <li><a href="#anchor1">Мета</a></li>
                <li><a href="#anchor2">Доповідачі</a></li>
                <li><a href="#anchor3">Розклад</a></li>
                <li><a href="#anchor4">Реєстрація</a></li>
                <li><a href="#anchor5">Контакти</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- / ZTE Axon 7  -->

<div class="wrapper-zte">
    <div class="container">
        <div class="rllogo"><img src="images/logo_rl.png" border="0" style="padding-left: 0px;"
                                 data-pin-nopin="true"><br><span style="font-size: 1.3em;">П Р Е З Е Н Т У Є</span>
        </div>
        <div class="reg-page" ng-controller="UserRegCtrl as crtl">


            <form name="RegForm" class="form-horizontal" ng-if="visibleCtrl" ng-cloak ng-submit="RegSubmit()">
                <!--<nav class="navbar-lower">-->
                <!--<div class="container" id="branding"></div>-->
                <!--</nav>-->

                <div id="Head" class="reg-windows">
                    <div class="reg-header__info">
                        <h2>Презентація-конференція "У мене є <span style="color: #59c0ff;">ZTE</span>!"</h2>
                        <h3><span style="color: #fff; padding-right: 20px; ">{{confinfo.adress}}</span></h3>
                        <h2>{{confinfo.date}} / {{confinfo.time}}</h2>
                        <!--<div style="text-align: center;margin-top: 30px;"><a name="anchor1"></a><a href="#anchor4"-->
                                                                                                   <!--type="buton"-->
                                                                                                   <!--class="buton2"-->
                                                                                                   <!--ng-hide="HideRegForm">ЗАРЕЄСТРУВАТИСЯ</a>-->
                        <!--</div>-->
                    </div>
                </div>

                <!--начало мои формы-->
                <div id="content" class="reg-body">
                    <div id="form-zte">

                        <h2 class='blue2'><span class="pe-mi-speaker-1 blue2"></span> &nbsp; ZTE та Radioline
                            презентують</h2>
                        <p> {{confinfo.header}}</p>
                        <br>
                        <h2 class='blue2'><span class="pe-mi-target blue2"></span> &nbsp; ЧОМУ ПОТРІБНО ПРИЙТИ?</h2>
                        <p> На цьому заході Ви матимете змогу першими ознайомитися з модельним рядом смартфонів ZTE, які
                            очікуються в Україні наприкінці жовтня. Наш експерт розкриє переваги товару для споживачів,
                            а Ви, в свою чергу, отримаєте інформацію щодо комерційних переваг роботи з брендом ZTE та
                            планів поставок. Ми будемо раді презентувати Вам медіаплан рекламних заходів компанії ZTE у
                            IV кварталі 2016 року. В ході дискусії Ви зможете обговорити подальшу співпрацю по бренду
                            ZTE з керівниками та провідними менеджерами компанії RadioLine.
                        </p>

                        <br>
                        <!--Спикеры -->
                        <h2><span class="pe-mi-microphone-2 blue2"></span> &nbsp; <a name="anchor3" class='blue2'>Доповідачі:</a>
                        </h2>
                        <div style="display: table; margin: 0 auto; text-align: center;">
                            <div class="speaker-col">
                                <div class="speaker-info">
                                    <div class="speaker-photo"><img src="images/speaker-01.jpg" border="0" alt=""/>
                                    </div>
                                    <div class="speaker-contacts"></div>
                                    <h3>Доніч Максим</h3>
                                    <p class="speaker-contacts">Директор з продажів ZTE Mobile Україна</p></div>
                            </div>
                            <div class="speaker-col">
                                <div class="speaker-info">
                                    <div class="speaker-photo"><img src="images/speaker-03.jpg" border="0" alt=""/>
                                    </div>
                                    <div class="speaker-contacts"></div>
                                    <h3>Каверін Юрій</h3>
                                    <p class="speaker-contacts">Комерційний директор (Radioline)</p></div>
                            </div>
                            <div class="speaker-col">
                                <div class="speaker-info">
                                    <div class="speaker-photo"><img src="images/speaker-02.jpg" border="0" alt=""/>
                                    </div>
                                    <div class="speaker-contacts"></div>
                                    <h3>Радченко Володимир</h3>
                                    <p class="speaker-contacts">Керівник напрямку ZTE (Radioline)</p></div>
                            </div>
                            <div class="speaker-col">
                                <div class="speaker-info">
                                    <div class="speaker-photo"><img src="images/speaker-04.jpg" border="0" alt=""/>
                                    </div>
                                    <div class="speaker-contacts"></div>
                                    <h3>Гаєвський Михайло</h3>
                                    <p class="speaker-contacts">Тренер з продуктів ZTE</p></div>
                            </div>

                        </div>
                        <!--/ Спикеры -->

                        <h2 class='blue2'><span class="pe-mi-board blue2"></span> &nbsp; <a name="anchor4">Програма
                            конференції:</a></h2>
                        <div>
                            <ul class="list-unstyled">
                                <li ng-repeat="p in confprogram"><p>{{p.$value}}</p></li>
                            </ul>
                        </div>

                        <br>
                        <div ng-hide="HideRegForm">
                            <h2><span class="pe-mi-id blue2"></span> &nbsp; <a name="anchor5"
                                                                               class='blue2'>Зареєструватися:</a></h2>
                            <hr class='blue'>
                            <div style="text-align: center;">


                                <div class="form-group reg-body__username">
                                    <label for="InputUserName" class="control-label col-sm-2">ПІБ:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="InputUserName" class="form-control" name="UserName"
                                               placeholder="Прізвище ім'я по-батькові"
                                               ng-model="user.fullname" required>
                                        <div class="help-block" ng-messages="RegForm.UserName.$error">
                                            <p ng-message="required">Прізвище, ім'я та по-батькові необхідно
                                                заповнити.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group reg-body__company">
                                    <label for="InputUserCompany" class="control-label col-sm-2">Компанія:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="InputUserCompany" class="form-control"
                                               ng-model="user.company"
                                               name="UserCompany" placeholder="Назва компанії" required>
                                        <div class="help-block" ng-messages="RegForm.UserCompany.$error">
                                            <p ng-message="required">Назву компанії необхідно заповнити.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group reg-body__email">
                                    <label for="InputUserEmail" class="control-label col-sm-2"
                                           class="control-label col-xs-2">E-mail:</label>
                                    <div class="col-sm-9">
                                        <input id="InputUserEmail"
                                               class="form-control ng-pristine ng-empty ng-valid-email ng-invalid ng-invalid-required ng-touched"
                                               ng-model="user.email" name="UserEmail" required=""
                                               placeholder="Введіть Ваш адрес єлектронної пошти" type="email">
                                        <div class="help-block" ng-messages="RegForm.UserEmail.$error">
                                            <p ng-message="required">Поле email необхідно заповнити.</p>
                                            <p ng-message="email">Введіть коректну email адресу.</p>
                                        </div>
                                    </div>
                                </div>


                                <div class="form-group reg-body__tel">
                                    <label for="InputUserTel" class="control-label col-sm-2">Телефон:</label>
                                    <div class="col-sm-9">
                                        <input type="tel" id="InputUserTel" class="form-control" ng-model="user.tel"
                                               name="UserPhone"
                                               placeholder="Введіть телефон" ng-required="true"
                                               ui-mask="+38(999)999-99-99"
                                               ui-mask-placeholder ui-mask-placeholder-char="_">
                                        <div class="help-block" ng-messages="RegForm.UserPhone.$error">
                                            <p ng-message="required"># телефону необхідно заповнити.</p>
                                            <p ng-message="pattern"># телефону не вірний.</p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group reg-body__position">
                                    <label for="InputUserPosition" class="control-label col-sm-2">Посада:</label>
                                    <div class="col-sm-9">

                                        <select class="form-control with-search " id="InputUserPosition" select-picker
                                                data-live-search="true" name="UserPosition" ng-model="user.position"
                                                title="Виберіть вашу посаду" ng-model="selectedPosition"
                                                ng-options="c.Name for c in positions" ng-required="true">
                                        </select>
                                        <div class="help-block ng-active" ng-messages="RegForm.UserPosition.$error">
                                            <!-- ngMessage: required --><p ng-message="required" class="ng-scope">Оберіть зі списку Вашу посаду.</p>
                                        </div>
                                        <!--{{selectedPosition}}-->
                                    </div>
                                </div>

                                <div class="form-group reg-body__place">
                                    <label for="InputUserPlace" class="control-label col-sm-2">Звідки Ви?:</label>
                                    <div class="col-sm-9">
                                        <input type="text" id="InputUserPlace" class="form-control"
                                               ng-model="user.place"
                                               name="UserPlace" placeholder="Місце знаходження" required>
                                        <div class="help-block" ng-messages="RegForm.UserPlace.$error">
                                            <p ng-message="required">Місце знаходження необхідно заповнити.</p>
                                        </div>
                                    </div>
                                    <!--<label for="InputUserPlace" class="control-label col-sm-3">Звідки Ви?:</label>-->
                                    <!--<div class="col-sm-9">-->

                                    <!--<select class="form-control with-search " id="InputUserPlace" select-picker-->
                                    <!--data-live-search="true" name="UserPosition"-->
                                    <!--title="Виберіть ваш населений пункт" ng-model="selectedPosition"-->
                                    <!--ng-options="c.Settlement for c in places" required>-->
                                    <!--</select>-->
                                    <!--<div class="help-block" ng-messages="RegForm.UserPosition.$error">-->
                                    <!--<p ng-message="required">Місце знаходження необхідно заповнити.</p>-->
                                    <!--</div>-->
                                    <!--&lt;!&ndash;{{selectedPosition}}&ndash;&gt;-->
                                    <!--</div>-->
                                </div>

                                <div class="col-xs-offset-2 col-sm-9">
                                    <button type="submit" class="btn btn-primary btn-lg">ЗАРЕЄСТРУВАТИСЯ
                                    </button>

                                    <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title alert alert-success" id="myModalLabel">
                                                        Реєстрація
                                                        виконана</h4>
                                                </div>
                                                <div class="modal-body">
                                                    Дякуємо за реєстрацію
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                                            ng-click="HideForm()">
                                                        Закрити
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="myModalError" tabindex="-1" role="dialog"
                                         aria-labelledby="myModalErrorLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close"><span aria-hidden="true">&times;</span>
                                                    </button>
                                                    <h4 class="modal-title alert alert-danger" id="myModalErrorLabel">
                                                        Виникла проблема реєстрації</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <strong>Вибачте за незручності, в зв'язку з помилкою реєєстрація не
                                                        виконана, зверніться будь ласка до Вашого менеджера.</strong>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default" data-dismiss="modal"
                                                            ng-click="HideForm()">
                                                        Закрити
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br><br>
                        <h2><span class="pe-mi-ways blue2"></span> &nbsp; <a name="anchor" class='blue2'>Де і коли?</a>
                        </h2>
                        <address>
                            <p><strong>{{confinfo.date}} / {{confinfo.time}} {{confinfo.fulladress}}</strong></p>
                            <p>ЗА ДОВІДКАМИ ЗВЕРТАЙТЕСЯ ДО ВАШОГО МЕНЕДЖЕРА RADIOLINE</p>
                        </address>
                    </div>
                </div>

                <div class='brown' style=" height: 2px; max-width: 980px; margin: auto;"></div>

                <div id="footer-zte" class="reg-footer">


                    <!-- Информер погоды города Х-->
                    <!--<div id="cont_db6ea766d3a210870ab91febc43df63d">-->
                    <!--<script type="text/javascript" async-->
                    <!--src="https://www.pogoda.com/wid_loader/db6ea766d3a210870ab91febc43df63d"></script>-->
                    <!--</div>-->
                    <!-- / Конец информера погоды города Х-->

                    <!-- Карта Google -->
                    <iframe class="entry_preview_image transparent"
                            ng-src="{{googlemapUrl}}"
                            width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>
                    <!-- Карта Google -->
                    <br>
                    <b>RadioLine © 2016</b>
                    <br>
                </div>


            </form>

        </div>
    </div>
</div>

<!--build:js js/vendor.min.js -->
<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../node_modules/tether/dist/js/tether.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../node_modules/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/angular-messages/angular-messages.min.js"></script>
<script src="../node_modules/angular-ui-mask/dist/mask.min.js"></script>
<script src="../node_modules/angular-route/angular-route.min.js"></script>
<script src="../node_modules/angular-aria/angular-aria.min.js"></script>
<script src="../node_modules/angular-animate/angular-animate.min.js"></script>
<script src="../node_modules/clientjs/dist/client.min.js"></script>
<!--<script src="../node_modules/angular-material/angular-material.min.js"></script>-->
<!-- Firebase -->
<script src="../node_modules/firebase/firebase.js"></script>
<!-- AngularFire -->
<script src="../node_modules/angularfire/dist/angularfire.min.js"></script>
<!-- endbuild -->

<!--build:js js/main.min.js -->
<script src="scripts/app.js"></script>
<!-- endbuild -->

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-65129645-4', 'auto');
    ga('send', 'pageview');

</script>

</body>
</html>

